@model IEnumerable<DAPM_C_.Models.ChiTietSanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaChiTietSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nsx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatLieu)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.GiaTien)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MaDoiTuongNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiSanPhamNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaMauNavigation)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MaSizeNavigation)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaChiTietSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.MaDoiTuongNavigation.MaDoiTuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiSanPhamNavigation.MaLoaiSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMauNavigation.MaMau)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPhamNavigation.TenSanPham)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.MaSizeNavigation.MaSize)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaChiTietSanPham" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.MaChiTietSanPham" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.MaChiTietSanPham" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
