@model IEnumerable<DAPM_C_.Models.ChiTietSanPham>

@{
    ViewData["Title"] = "SelectProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SelectProduct</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên sản phẩm
            </th>
            <th>
                Size
            </th>
            <th>
                Màu
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Đối tượng
            </th>
            <th>
                Nhà sản xuất
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Giá tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPhamNavigation.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSizeNavigation.TenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMauNavigation.TenMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiSanPhamNavigation.TenLoaiSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDoiTuongNavigation.TenDoiTuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td>   
             <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                <form method="post" asp-action="SelectProduct">
                        <input type="hidden" name="id" value="@item.MaChiTietSanPham" />
                    <button type="submit" class="btn btn-primary">Select</button>
                </form>
            </td>
        </tr>
}
    </tbody
</table>
